export(sfnGenerator)
export(Homophily)
export(BiRankFr)
export(normalize)
S3method(print, BiRankFr)
S3method(print, sfnData)
import(data.table)
import(doParallel)
import(ggplot2)
import(Matrix)
import(doSNOW)
importFrom(Hmisc, capitalize)
importFrom("Matrix", "t", "crossprod", "rowSums", "colSums", "sparseMatrix")
importFrom("stats", "runif", "binomial", "dgamma", "formula", "median",
               "model.matrix", "na.omit", "optimise", "pnorm", "qexp",
               "qnorm", "qpois", "quantile", "rbinom", "rexp", "rgamma",
               "rmultinom", "rnorm", "rpois")
importFrom("utils", "capture.output", "flush.console", "setTxtProgressBar", "txtProgressBar")
importFrom("igraph", "V", "plot.igraph")
importFrom("htmlTable", "htmlTable")
importFrom("randomNames", "randomNames")
importFrom("gridExtra", "arrangeGrob")
importFrom("copula", "rCopula", "frankCopula")
importFrom("lubridate", "is.Date")
importFrom("magrittr", "%>%", "pipe_eager_lexical", "pipe_lazy_masking", "pipe_nested")
importFrom("plyr", "ddply", ".")
importFrom("graphics", "legend")
importFrom("methods", "as", "is")
importFrom("foreach", "%dopar%", "%do%", "foreach")
importFrom("parallel", "detectCores", "stopCluster", "makeCluster")
